{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4 text-center">Dashboard</h2>

<div class="row mb-4">

<div class="col-md-4">
<div class="dashboard-card income-card">
<h5>Total Income</h5>
<h2>₹{{ total_income }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="dashboard-card expense-card">
<h5>Total Expense</h5>
<h2>₹{{ total_expense }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="dashboard-card balance-card">
<h5>Balance</h5>
<h2>₹{{ balance }}</h2>
</div>
</div>

</div>


<div class="row">

<!-- Income Table -->

<div class="col-md-6">

<div class="card p-3">

<h4 class="mb-3">Income History</h4>

<table class="table table-hover">

<thead class="table-dark">

<tr>
<th>Category</th>
<th>Amount</th>
</tr>

</thead>

<tbody>

{% for i in income %}

<tr>
<td>{{ i.category }}</td>
<td>₹{{ i.amount }}</td>
</tr>

{% empty %}

<tr>
<td colspan="2">No income records</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>



<!-- Expense Table -->

<div class="col-md-6">

<div class="card p-3">

<h4 class="mb-3">Expense History</h4>

<table class="table table-hover">

<thead class="table-dark">

<tr>
<th>Category</th>
<th>Amount</th>
</tr>

</thead>

<tbody>

{% for e in expense %}

<tr>
<td>{{ e.category }}</td>
<td>₹{{ e.amount }}</td>
</tr>

{% empty %}

<tr>
<td colspan="2">No expense records</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

{% endblock %}