body{
    background:red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h2,h3,h4{
    font-weight:600;
    }
    
    .card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    }
    
    .dashboard-card{
    padding:25px;
    border-radius:15px;
    color:white;
    text-align:center;
    }
    
    .income-card{
    background:linear-gradient(135deg,#00c853,#43a047);
    }
    
    .expense-card{
    background:linear-gradient(135deg,#ff5252,#e53935);
    }
    
    .balance-card{
    background:linear-gradient(135deg,#2979ff,#1565c0);
    }
    
    form{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    }
    
    table{
    background:white;
    border-radius:10px;
    overflow:hidden;
    }
    
    .btn{
    border-radius:8px;
    }
    
    .navbar{
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    }
    
    canvas{
    max-height:350px;
    }